<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <%= form_with(model: message, local: true, class: "form") do |form| %>
        <% if message.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
              <% message.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :sender_id %>
          <%= form.text_field :sender_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :recipient_id %>
          <%= form.text_field :recipient_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: "form-control" %>
        </div>

        <div class="text-center">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
