<div id="<%= dom_id tasker_comment %>">
  <p>
    <strong>User:</strong>
    <%= tasker_comment.user_id %>
  </p>

  <p>
    <strong>Tasker:</strong>
    <%= tasker_comment.tasker_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= tasker_comment.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= tasker_comment.rating %>
  </p>

</div>
