<div id="<%= dom_id booking %>">
  <p>
    <strong>Service:</strong>
    <%= booking.service_id %>
  </p>

  <p>
    <strong>Tasker:</strong>
    <%= booking.tasker_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= booking.task_id %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= booking.schedule %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= booking.location %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= booking.accepted %>
  </p>

</div>
