<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <%= form_with(model: booking, local: true, class: "form") do |form| %>
        <% if booking.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

            <ul>
              <% booking.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :service_id %>
          <%= form.text_field :service_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :tasker_id %>
          <%= form.text_field :tasker_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :task_id %>
          <%= form.text_field :task_id, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :schedule %>
          <%= form.text_field :schedule, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :location %>
          <%= form.text_field :location, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :accepted %>
          <%= form.check_box :accepted, class: "form-check-input" %>
        </div>

        <div class="text-center">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
