<div id="<%= dom_id tasker %>">
  <p>
    <strong>User:</strong>
    <%= tasker.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tasker.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tasker.location %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= tasker.profile_picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tasker.description %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= tasker.phone_number %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= tasker.rating %>
  </p>

</div>
