<div class="container my-4">
      <div id="<%= dom_id(tasker) %>" class="card text-center">
        <img class="card-img-top tasker-image-size" src="<%= tasker.profile_picture %>" alt="Profile picture">
        <div class="card-body">
          <p class="card-text"><strong>Name:</strong> <%= tasker.name %></p>
          <p class="card-text"><strong>Location:</strong> <%= tasker.location %></p>
          <p class="card-text"><strong>Description:</strong> <%= tasker.description %></p>
          <p class="card-text"><strong>Phone number:</strong> <%= tasker.phone_number %></p>
          <p class="card-text"><strong>Rating:</strong> <%= tasker.rating %></p>
        </div>
      </div>
</div>