<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <div id="<%= dom_id(tasker) %>" class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>User:</strong> <%= tasker.user_id %></h5>
          <p class="card-text"><strong>Name:</strong> <%= tasker.name %></p>
          <p class="card-text"><strong>Location:</strong> <%= tasker.location %></p>
          <p class="card-text"><strong>Profile picture:</strong> <%= tasker.profile_picture %></p>
          <p class="card-text"><strong>Description:</strong> <%= tasker.description %></p>
          <p class="card-text"><strong>Phone number:</strong> <%= tasker.phone_number %></p>
          <p class="card-text"><strong>Rating:</strong> <%= tasker.rating %></p>
        </div>
      </div>
    </div>
  </div>
</div>
