<div class="container my-4">
      <div id="<%= dom_id(tasker) %>" class="card text-center">
        <% if tasker.image.attached? %>
          <%= image_tag(tasker.image, class: "card-img-top tasker-image-size") %>
        <% else %>
          <img class="card-img-top tasker-image-size" src="<%= tasker.profile_picture %>" alt="Profile picture">
        <% end %>
        <div class="card-body">
          <p class="card-text"><strong>Name:</strong> <%= tasker.name %></p>
          <p class="card-text"><strong>Location:</strong> <%= tasker.location %></p>
          <%# <p class="card-text"><strong>Description:</strong> <%= tasker.description ></p> %>
          <p class="card-text">
            <strong>Description:</strong>
            <% if local_assigns[:truncate_description] %>
              <%= truncate(tasker.description, length: 100, separator: ' ') %>
            <% else %>
              <%= tasker.description %>
            <% end %>
          </p>
          <p class="card-text"><strong>Phone number:</strong> <%= number_to_phone(tasker.phone_number, area_code: true) %></p>
          <%# <p class="card-text"><strong>Rating:</strong> <%= tasker.rating ></p> %>
        </div>
      </div>
</div>